## How to combine two series together as a dataframe

In [1]:
import pandas as pd

In [2]:
fruits = pd.Series(["banana", "blueberry", "kiwi", "mango", "crab apple"])
fruits

0        banana
1     blueberry
2          kiwi
3         mango
4    crab apple
dtype: object

In [3]:
number_of_a_characters = fruits.str.count("a")
number_of_a_characters

0    3
1    0
2    0
3    1
4    2
dtype: int64

In [4]:
# Putting together two series into a dataframe
# the axis=1 means that we're adding each series as its own column

df = pd.concat([fruits, fruits.str.count("a")], axis=1)
df

            0  1
0      banana  3
1   blueberry  0
2        kiwi  0
3       mango  1
4  crab apple  2

In [5]:
# df.columns allows us to either access or reassign our column names
df.columns = ["fruit_name", "number_of_a"]
df

   fruit_name  number_of_a
0      banana            3
1   blueberry            0
2        kiwi            0
3       mango            1
4  crab apple            2