In [1]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

# How to Solve Looping Problems
- One weird trick to solving looping problems: blow off the loop.
- Why?
    - Simplify the problem
    - Reducing cognitive overhead
    - Emotionally, solving a simpler problem is good for your morale
    - Create emotional momentum by solving simpler problems sequentially vs. one big perfect solution the first time

In [21]:
# Exercise
# What's the average of all student grades?
# Initially, we see a list of dictionaries where one key is another list of numbers

# step 1 is to blow off the loop. (both mentally and in our code)
# step 2 is we make a singular variable that holds the first item on that list
student = students[1]
student

{'id': '100002',
 'student': 'Thomas Bayes',
 'coffee_preference': 'medium',
 'course': 'data science',
 'grades': [75, 73, 86, 100],
 'pets': []}

In [15]:
# step 3: ok, what is the question asking about, if we only had one thing from that list?
# Problem: average the grades
# Step 4: think about and plan out what we need to do to solve the problem in a singular case, for ONE item from the list

In [22]:
student["grades"]

[75, 73, 86, 100]

In [24]:
# I know I need a list to hold all of the grades we'll end up seeing
all_grades = []

# Let's iterate through the list of student grades, add them to the overall list of grades
# then calculate sum(grades) / len(grades) to get the average

for grade in student["grades"]:
    all_grades.append(grade)
    
    
all_grades

[75, 73, 86, 100]

In [20]:
sum(all_grades) / len(all_grades)

78.5

In [30]:
# Now that you have a solution that works for one thing on that list...
# we can bring the loop back

all_grades = []

# Let's iterate through the list of student grades, add them to the overall list of grades
# then calculate sum(grades) / len(grades) to get the average
for student in students:
    for grade in student["grades"]:
        all_grades.append(grade)
        
sum(all_grades) / len(all_grades)

82.92857142857143

## Exercise
- Count the number of pets from data science students in the above data

In [50]:
# Step 1: blow off the loop (mentally and we literally don't write a loop yet)
# Step 2: set a singular variable for the first thing off that list
student = students[3]
student

{'id': '100004',
 'student': 'Grace Hopper',
 'coffee_preference': 'dark',
 'course': 'data science',
 'grades': [73, 66, 83, 92],
 'pets': [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}]}

In [51]:
# Step 3: determine the algorithm: sequence, selection, iteration to solve the original problem for one single item

# Good plan with counting algorithms is start with a counter of zero.
number_of_pets = 0

In [52]:
# Now we have to ask a question about our single student - is this a data science student?
if student["course"] == "data science":
    number_of_pets += len(student["pets"])
    
number_of_pets

2

In [53]:
student["pets"]

[{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}]

In [54]:
# How many pets does this one specific student have?
len(student["pets"])

2

In [55]:
# Step 4: bring back the loop

number_of_pets = 0

for student in students:
    if student["course"] == "data science":
        number_of_pets += len(student["pets"])
    
number_of_pets

9

In [ ]:
# We use += to have a rolling total, a summation, a rolling tab

In [56]:
total = 0
total += 1.99
total

1.99

In [57]:
total += 6.99
total

8.98

In [58]:
total += 9.999
total

18.979