In [1]:
import numpy as np
import pandas as pd

In [2]:
# If you flip 8 coins
# What's probability of getting more than 3 heads

In [3]:
n_trials = 10_000
n_coins = 8

flips = np.random.choice([0, 1], n_coins * n_trials).reshape(n_trials, n_coins)

flips = pd.DataFrame(flips)
flips.columns = ["die1", "die2", "die3", "die4", "die5", "die6", "die7", "die8"]
flips

      die1  die2  die3  die4  die5  die6  die7  die8
0        1     0     1     0     0     1     0     1
1        0     1     0     0     1     1     1     0
2        1     1     0     0     1     1     0     0
3        0     1     0     1     1     0     1     1
4        1     1     0     0     0     1     0     0
...    ...   ...   ...   ...   ...   ...   ...   ...
9995     1     0     1     0     1     1     1     1
9996     0     1     0     1     0     0     1     0
9997     0     0     0     1     0     0     1     1
9998     1     1     1     1     0     1     0     0
9999     0     1     0     0     0     1     1     0

[10000 rows x 8 columns]

In [4]:
flips["n_heads"] = flips.sum(axis=1)
flips.head()

   die1  die2  die3  die4  die5  die6  die7  die8  n_heads
0     1     0     1     0     0     1     0     1        4
1     0     1     0     0     1     1     1     0        4
2     1     1     0     0     1     1     0     0        4
3     0     1     0     1     1     0     1     1        5
4     1     1     0     0     0     1     0     0        3

In [5]:
# What's the probability of flipping more than 3 heads?
(flips.n_heads > 3).mean()

0.6408

## Flipping Heads or Tails
- If we flip 8 coins at once, what's the chance of getting exactly 3?

In [6]:
flips = np.random.choice(["h", "t"], n_coins * n_trials).reshape(n_trials, n_coins)
flips = pd.DataFrame(flips)
flips.head(2)

   0  1  2  3  4  5  6  7
0  t  h  t  t  h  h  t  h
1  t  t  t  t  h  t  h  h

In [7]:
# Count the h
def count_heads(row):
    counter = 0
    for field in row:
        if field == "h":
            counter += 1
    return counter

In [8]:
%%timeit
# 60.6 ms Â± 3.98 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)
flips.apply(count_heads, axis=1)

56.5 ms Â± 177 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [ ]:
%%timeit
# p(flipping exactly 3 heads)
# 1.25 ms Â± 64.4 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)
(flips == "h").sum(axis=1)