In [1]:
import numpy as np
import pandas as pd

In [2]:
# If you flip 8 coins
# What's probability of getting more than 3 heads

In [3]:
n_trials = 10_000
n_coins = 8

flips = np.random.choice([0, 1], n_coins * n_trials).reshape(n_trials, n_coins)

flips = pd.DataFrame(flips)
flips.columns = ["die1", "die2", "die3", "die4", "die5", "die6", "die7", "die8"]
flips

      die1  die2  die3  die4  die5  die6  die7  die8
0        0     0     1     1     1     0     1     0
1        0     1     1     1     0     0     0     0
2        1     0     1     1     1     1     0     0
3        1     0     1     0     0     1     0     0
4        0     0     1     0     0     1     1     1
...    ...   ...   ...   ...   ...   ...   ...   ...
9995     0     0     0     1     0     0     0     0
9996     0     0     0     0     0     1     0     0
9997     1     1     1     0     0     0     1     0
9998     0     1     0     1     1     0     1     1
9999     0     1     0     0     0     1     0     0

[10000 rows x 8 columns]

In [4]:
flips["n_heads"] = flips.sum(axis=1)
flips.head()

   die1  die2  die3  die4  die5  die6  die7  die8  n_heads
0     0     0     1     1     1     0     1     0        4
1     0     1     1     1     0     0     0     0        3
2     1     0     1     1     1     1     0     0        5
3     1     0     1     0     0     1     0     0        3
4     0     0     1     0     0     1     1     1        4

In [5]:
# What's the probability of flipping more than 3 heads?
(flips.n_heads > 3).mean()

0.6319