# Baseline vs. Positive Case 
- Ain't the same thing 
- *Might* be the same value
- Even if they happen to be the same value, they're not the same thing.

In [2]:
import pandas as pd
from pydataset import data
import seaborn as sns

In [3]:
df = data('tips')
df

     total_bill   tip     sex smoker   day    time  size
1         16.99  1.01  Female     No   Sun  Dinner     2
2         10.34  1.66    Male     No   Sun  Dinner     3
3         21.01  3.50    Male     No   Sun  Dinner     3
4         23.68  3.31    Male     No   Sun  Dinner     2
5         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
240       29.03  5.92    Male     No   Sat  Dinner     3
241       27.18  2.00  Female    Yes   Sat  Dinner     2
242       22.67  2.00    Male    Yes   Sat  Dinner     2
243       17.82  1.75    Male     No   Sat  Dinner     2
244       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
df.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [5]:
# Baseline prediction is the mode
df.smoker.mode()

0    No
dtype: object

In [ ]:
# Positive case is the thing we're trying to measure